@media screen and (min-aspect-ratio: 3/4) {
  html {
    font-size: 3vh;
  }

  body {
    width: 60%;
    min-width: 60vh;
  }
}

@media screen and (max-aspect-ratio: 3/4) {
  html {
    font-size: 6vw;
  }

  body {
    width: 100%;
  }
}

:root {
  --bg-col: #f0f0f0;
  --bg-col-2: #d8d8d8;
  --bg-col-3: #c0c0c0;
  --font-col: #121212;
  --col-off: #585858;
  --font-fam: Arial, sans-serif;
}

body {
  background: var(--bg-col);
  margin: 0 auto;
  padding: 0.25rem 0;
  box-sizing: border-box;
  font-family: var(--font-fam);
}

.poke-list {
  user-select: none;
}

.poke-list__item {
  background: var(--bg-col-2);
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
  text-decoration: none;
  color: var(--font-col);
  display: block;
  line-height: 1.3rem;
  transition: opacity 1s;
  user-select: none;
}

.poke-list__item:empty {
  pointer-events: none;
  color: var(--col-off);
  transition: opacity 1s;
}

.poke-list.fetching {
  transition: opacity 1s;
}

.fetching .poke-list__item:empty {
  transition: opacity 1s;
  opacity: 0.7;
  animation: .2s ease-in 0s infinite alternate loading;
}

.poke-list__item:empty::before {
  content: "\a0";
  pointer-events: none;
}

.poke-list__item:first-child {
  margin-top: .25rem;
}

.poke-list__item:last-child {
  margin-bottom: .25rem;
}

.poke-list__item:hover {
  background: var(--bg-col-3);
}

.text--bold {
  font-weight: bold;
}

.ui-wrapper {
  background: var(--bg-col-2);
  border-radius: .2rem;
  user-select: none;
}

@keyframes loading {
  from {
    opacity: 0.7;
  }

  to {
    opacity: .3;
  }
}


@keyframes loading-bg {
  from {
    background: var(--bg-col-2);
  }

  to {
    background: var(--bg-col-3);
  }
}
